.navbar{

    padding: 0.5em;
    margin:0em 3em;
    padding-left: 12em;
    background-color:rgba(211, 211, 206,0.75);
    font-size: 2em;
    margin-top: 4em ;
   
    .navbar-item{
        color:black;
        font-weight: 500;
        border-radius: 10px; 
        margin: 0em 1em;       
    }
    span:hover{
        background-color: rgba(109,109,109,0.4);
        cursor: pointer;
    }
 }